*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

:root{
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --desat-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --moderate-cyan: hsl(168, 34%, 41%);
    --desat-blue: hsl(212, 27%, 19%);
    --very-dark-gray-blue: hsl(213, 9%, 39%);
    --dark-gray-blue: hsl(232, 10%, 55%);
    --gray-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 50%), 1fr))
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

 .grid-full-width{
    grid-column: 1/-1;
}


.transform{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.transform > *{
    flex: 1 1 50%;
}

.transform img{
    min-width: 300px;
}

.d-flex{
    display: flex;
}

.width-50{
    width: 50%;
}

.pos-relative{
    position: relative;
}

.header-caption{
    position: absolute;
    top : 30%;
    left:  50%;
    transform: translate(-50%, -50%);
}

.header-caption > p{
    color: var(--white);
    font-family: 'Fraunces', serif;
    letter-spacing: 10px;
    font-size:  clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
    text-align: center;
}

.header-caption + img{
    position: absolute;
    top : 53%;
    left:  50%;
    transform: translate(-50%, -50%); 
}

.standalone-desc{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.standalone-desc>p:first-of-type{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size:clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
    max-inline-size: 18ch;
}

.standalone-desc>p:last-of-type{
    margin-top: 2em;
    font-family: 'Barlow', serif;
    color: var(--dark-gray-blue);
    line-height: 1.5em;
    font-size: 1.1rem;
    max-inline-size: 45ch;
}

.standalone-desc h4{
    color: black;
    font-family: 'Fraunces';
    font-weight: 700;
    text-decoration: none;
    margin-top: 2.8rem;
}

.img-desc{
    position: absolute;
    top: 80%;
    left : 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.img-desc > p:nth-child(1){
    font-size: 1.7rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.img-desc > p:nth-child(2){
    margin-top: 2rem;
    font-family: 'Barlow', serif;
    font-size: 1rem;
    max-inline-size: 37ch;
    min-inline-size: 37ch;
    line-height: 1.4rem;
}

.green-caption{
    color: var(--desat-cyan);
}

.blue-caption{
    color: var(--dark-blue);
}

.testimonials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: max(5%, 4rem);
    margin-bottom: max(10%, 2rem);
}

.testimonials-header{
    margin-top: max(10%, 2rem);
    font-size: clamp(1rem, 0.9296rem + 0.3005vw, 1.2rem);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 6px;
    color: var(--gray-blue);
}

.testimonial{
    display: flex;
    flex-direction: column;
    max-inline-size: 43ch;
    align-items: center;
    margin-bottom: 3rem;
}

.testimonial > p:not(:last-child){
    /* margin-top: max(15%, 1rem); */
    margin-top: clamp(1.5rem,5vw, 3.5rem);
}

.testimonial > p:last-child{
    margin-top: 1rem;
}

.testimonial >p:first-of-type{
    font-family: 'Barlow', serif;
    line-height: 2rem;
    font-size: 1.1rem;
    color: var(--dark-blue);
}

.testimonial > p:nth-child(3){
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: large;
}

.testimonial> p:nth-child(4){
    font-family: 'Barlow', serif;
    font-size: 0.9rem;
    color: var(--gray-blue);
}

.thumbnail{
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-small{
    width : 30px;
}

.aspect-ratio-1{
    aspect-ratio: 1/1.3;
}

.text-align-center{
    text-align: center;
}

@media screen and (max-width: 600px) {

    .standalone-desc > *{
        text-align: center;
    }
}
