*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

:root{
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --desat-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --moderate-cyan: hsl(168, 34%, 41%);
    --desat-blue: hsl(212, 27%, 19%);
    --very-dark-gray-blue: hsl(213, 9%, 39%);
    --dark-gray-blue: hsl(232, 10%, 55%);
    --gray-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 50%), 1fr))
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

 .grid-full-width{
    grid-column: 1/-1;
}


.transform{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.transform > *{
    flex: 1 1 50%;
}

.transform img{
    min-width: 300px;
}

.d-flex{
    display: flex;
}

.width-50{
    width: 50%;
}

.pos-relative{
    position: relative;
}

.header-caption{
    position: absolute;
    top : 30%;
    left:  50%;
    transform: translate(-50%, -50%);
}

.header-caption > p{
    color: var(--white);
    font-family: 'Fraunces', serif;
    letter-spacing: 10px;
    font-size: 3.5em;
    text-align: center;
}

.header-caption + img{
    position: absolute;
    top : 53%;
    left:  50%;
    transform: translate(-50%, -50%); 
}

.standalone-desc>p:first-of-type{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.5em;
}

.standalone-desc>*{
    width:47%;
    text-align: left; 
}


.standalone-desc>p:last-of-type{
    margin-top: 2em;
    font-family: 'Barlow', serif;
    color: var(--dark-gray-blue);
    line-height: 1.5em;
    font-size: 18px;
}

.standalone-desc a{
    color: black;
    font-family: 'Fraunces';
    font-weight: 700;
    text-decoration: none;
    margin-top: 2em;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-small{
    width : 30px
}

@media screen and (max-width: 600px) {

    .header-caption > p{
        letter-spacing: 7px;
        font-size: 2.5em;
    }

    .standalone-desc{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .standalone-desc > *{
        width: 90%;
        text-align: center;
    }

    .standalone-desc>p:first-of-type{
        font-size: 2em;
    }
}
