*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 50%), 1fr))
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

 .grid-full-width{
    grid-column: 1/-1;
}


.transform{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.transform > *{
    flex: 1 1 50%;
}

.transform img{
    min-width: 300px;
}